@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --footer-wave-height: calc(100vw / 45 * 1.1);
  }
}

@layer components {
  @import './burger-button.css';
  @import './map.css';

  /* Page Footer */
  .page-footer {
    @apply flex-grow pt-4 px-1 pb-0.5 text-gray-100 text-center;

    background: #810e11;
    position: relative;
    z-index: 1000;
  }

  .page-footer::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 99.6%;
    height: var(--footer-wave-height);
    background: url('../public/images/footer-wave.svg') center bottom/110% no-repeat;
  }
}
