@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --footer-wave-height: calc(100vw / 45 * 1.1);
  }

  html {
    scroll-padding-top: 4.5rem;
  }

  @screen lg {
    html {
      scroll-padding-top: 6rem;
    }
  }

  body {
    -webkit-tap-highlight-color: theme('colors.tapHighlight');
  }
}

@layer components {
  @import './burger-button.css';
  @import './map.css';

  /* Page Footer */
  .page-footer {
    @apply relative z-50 flex-grow pt-4 px-1 pb-0.5 text-gray-100 text-center bg-primary-dark;
  }

  .page-footer::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 99.6%;
    height: var(--footer-wave-height);
    background: url('../public/images/footer-wave.svg') center bottom/110% no-repeat;
    filter: drop-shadow(0 -4px 3px rgba(0 0 0 / 7%)) drop-shadow(0 -2px 2px rgba(0 0 0 / 6%));
    pointer-events: none;
  }

  /* Link */
  .link {
    @apply underline ring-current ring-offset-gray-100 transition;
  }

  .link:hover {
    @apply opacity-80;
  }

  .link:focus {
    @apply outline-none ring-2 ring-offset-2;
  }

  .link:focus:not(:focus-visible) {
    @apply ring-0 ring-offset-0;
  }

  .link.link-primary {
    @apply text-primary-dark ring-primary-dark;
  }
}

@layer utilities {
  @variants responsive, hover {
    .text-shadow-sm {
      text-shadow:
        rgba(var(--text-shadow-color, 0 0 0) / var(--text-shadow-opacity, 50%))
        calc(1px * var(--text-shadow-x-mod, 1))
        calc(1px * var(--text-shadow-y-mod, 1))
        var(--text-shadow-blur, 2px);
    }

    .text-shadow {
      text-shadow:
        rgba(var(--text-shadow-color, 0 0 0) / var(--text-shadow-opacity, 50%))
        calc(2px * var(--text-shadow-x-mod, 1))
        calc(2px * var(--text-shadow-y-mod, 1))
        var(--text-shadow-blur, 2px);
    }

    .text-shadow-lg {
      text-shadow:
        rgba(var(--text-shadow-color, 0 0 0) / var(--text-shadow-opacity, 50%))
        calc(3px * var(--text-shadow-x-mod, 1/3))
        calc(3px * var(--text-shadow-y-mod, 1))
        var(--text-shadow-blur, 3px);
    }

    .text-shadow-xl {
      text-shadow:
        rgba(var(--text-shadow-color, 0 0 0) / var(--text-shadow-opacity, 50%))
        calc(4px * var(--text-shadow-x-mod, 0.75))
        calc(4px * var(--text-shadow-y-mod, 1))
        var(--text-shadow-blur, 5px);
    }

    .text-shadow-solid {
      --text-shadow-blur: 0;
    }

    .text-shadow-smooth {
      --text-shadow-blur: 3px;
    }

    .text-shadow-blurry {
      --text-shadow-blur: 6px;
    }

    .text-shadow-top {
      --text-shadow-x-mod: 0;
      --text-shadow-y-mod: -1;
    }

    .text-shadow-bottom {
      --text-shadow-x-mod: 0;
      --text-shadow-y-mod: 1;
    }

    .text-shadow-left {
      --text-shadow-x-mod: -1;
      --text-shadow-y-mod: 0;
    }

    .text-shadow-right {
      --text-shadow-x-mod: 1;
      --text-shadow-y-mod: 0;
    }

    .text-shadow-top-left {
      --text-shadow-x-mod: -1;
      --text-shadow-y-mod: -1;
    }

    .text-shadow-top-right {
      --text-shadow-x-mod: 1;
      --text-shadow-y-mod: -1;
    }

    .text-shadow-bottom-left {
      --text-shadow-x-mod: -1;
      --text-shadow-y-mod: 1;
    }

    .text-shadow-bottom-right {
      --text-shadow-x-mod: 1;
      --text-shadow-y-mod: 1;
    }

    .text-shadow-center {
      --text-shadow-x-mod: 0;
      --text-shadow-y-mod: 0;
    }

    .text-shadow-opacity-100 { --text-shadow-opacity: 100%; }
    .text-shadow-opacity-90 { --text-shadow-opacity: 90%; }
    .text-shadow-opacity-80 { --text-shadow-opacity: 80%; }
    .text-shadow-opacity-70 { --text-shadow-opacity: 70%; }
    .text-shadow-opacity-60 { --text-shadow-opacity: 60%; }
    .text-shadow-opacity-50 { --text-shadow-opacity: 50%; }
    .text-shadow-opacity-40 { --text-shadow-opacity: 40%; }
    .text-shadow-opacity-30 { --text-shadow-opacity: 30%; }
    .text-shadow-opacity-20 { --text-shadow-opacity: 20%; }
    .text-shadow-opacity-10 { --text-shadow-opacity: 10%; }

    .text-shadow-none {
      text-shadow: none;
    }
  }
}
