.map-popup {
  @apply absolute -translate-x-1/2 w-max px-3 py-2 rounded drop-shadow-md bg-gray-50;

  filter: var(--tw-drop-shadow); /* work around fix */
  bottom: calc(100% + 8px);
}

.map-popup::after {
  @apply border-gray-50;

  content: '';
  position: absolute;
  top: 100%;
  left: calc(50% - 8px);
  width: 0;
  height: 0;
  border-top-width: 8px;
  border-left: solid 8px transparent;
  border-right: solid 8px transparent;
}

.map-popup .map-popup-close-btn {
  position: absolute;
  top: -0.2rem;
  right: -0.2rem;
  width: 2rem;
  height: 2rem;
  padding-left: 0.5rem;
  font-size: 1.25rem;
  cursor: pointer;
  opacity: 0.7;
}

.map-popup .map-popup-close-btn::before {
  content: '✕';
}

.map-popup .map-popup-close-btn:hover {
  opacity: 1;
}

/* Openlayers overrides */
.ol-attribution {
  bottom: var(--footer-wave-height) !important;

  @apply bg-white bg-opacity-60 !important;
}

.ol-attribution li {
  @apply mr-2 text-sm text-gray-700;
}

.ol-attribution li:last-child {
  @apply mr-0;
}

.ol-attribution a {
  @apply underline transition hover:text-primary
    focus:text-primary focus:outline-none focus:ring-2 focus:ring-primary;
}

.ol-control button {
  @apply transition bg-primary bg-opacity-60 hover:bg-opacity-90 focus:bg-opacity-90
    focus:outline-none focus:ring-2 focus:ring-primary-dark !important;
}
