/* Map popup */

.map-popup {
  @apply absolute -left-full w-max -translate-x-1/2 rounded bg-stone-50 px-3 py-2 drop-shadow-md;

  filter: var(--tw-drop-shadow); /* work around fix */
  bottom: calc(100% + 8px);
}

.map-popup::after {
  @apply border-stone-50;

  content: '';
  position: absolute;
  top: 100%;
  left: calc(50% - 8px);
  width: 0;
  height: 0;
  border-top-width: 8px;
  border-left: solid 8px transparent;
  border-right: solid 8px transparent;
}

.map-popup .map-popup-close-btn {
  position: absolute;
  top: -0.2rem;
  right: -0.2rem;
  width: 2rem;
  height: 2rem;
  padding-left: 0.5rem;
  font-size: 1.25rem;
  cursor: pointer;
  opacity: 70%;
}

.map-popup .map-popup-close-btn::before {
  content: '✕';
}

.map-popup .map-popup-close-btn:hover {
  opacity: 100%;
}

/* GoogleMapsLinkControl */

.google-maps-link-control {
  left: 3.75em;
  top: 0.5em;

  @apply bg-white/70 px-2 !important;
}

/* Openlayers overrides */

.ol-attribution {
  bottom: var(--footer-wave-height) !important;

  @apply bg-white/60 !important;
}

.ol-attribution li {
  @apply mr-2 text-sm;
}

.ol-attribution li:last-child {
  @apply mr-0;
}

.ol-attribution a {
  @apply text-stone-600 ring-primary hover:text-primary !important;
}

.ol-control button {
  @apply bg-primary/[69%] text-white ring-primary-dark transition !important;
}

.ol-control button:focus {
  @apply bg-primary/80 outline-none ring-2 !important;
}

.ol-control button:hover {
  @apply bg-primary/95 outline-none !important;
}

.ol-control button:focus:not(:focus-visible) {
  @apply bg-primary/[69%] ring-0 !important;
}

.ol-control button:focus:not(:focus-visible):hover {
  @apply bg-primary/95 !important;
}
